.lb-query-table-actions {
  overflow:hidden;
  margin-bottom: 16px;
.lb-query-table-actions .left {
  float: left;
}

.lb-query-table-actions .right {
  float: right;
}

.lb-query-table-actions button:not(:last-child) {
  margin-right: 8px;
}
